@model IEnumerable<WebApplication7.Context.expense1>

@{
    ViewBag.Title = "ExpenseList";
}

<h2>ExpenseList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpensePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expensecate.ExpenseCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expensecate.ExpenseCategory)
        </td>
        <td>
            @Html.ActionLink("Edit", "Expense", new { item.ExpenseName, item.ExpensePrice, item.ExpenseDate, item.ExpenseDescription, item.ExpenseCategoryID })
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
