
@{
    ViewBag.Title = "Filter";
}

<h2>Filter</h2>
@using (Html.BeginForm("filter", "filter", FormMethod.Post))
{
    
    @Html.TextBox("searching")
    <input type="submit" value="submit"/>
}
<table class="table table-hover">
    <tr>
        <th>ExpenseName</th>
        <th>ExpenseCategoryID</th>
        <th>ExpensePrice</th>
        <th>ExpenseDate</th>
        <th>ExpenseDescription</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ExpenseName</td>
            <td>@item.ExpenseCategoryID</td>
            <td>@item.ExpensePrice</td>
            <td>@item.ExpenseDate</td>
            <td>@item.ExpenseDescription</td>

            <td>
                <a href="@Url.Action("Student",new {item.ID, item.ExpenseName, item.ExpenseCategoryID, item.ExpensePrice,item.ExpenseDate, item.ExpenseDescription})"> <i class="glyphicon glyphicon-pencil"></i></a>
                <a href="@Url.Action("Delete", new {item.ID})"><i class="glyphicon glyphicon-trash"></i> </a>

            </td>

        </tr>
    }

</table>
